@charset "UTF-8";
html {
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 1.75;
  color: #777;
  scroll-behavior: smooth;
}

/*header
--------------------------------------------*/
.header {
  padding-top: 2.5641025641vw;
  width: 100%;
  position: fixed;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 1.6071428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .header {
    padding-top: 1.125rem;
  }
}
.header__container {
  margin: 0 auto;
  padding: 0 8.2051282051vw;
  width: 91.7948717949vw;
  height: auto;
  background-color: #07beb8;
  border-radius: 7.6923076923vw;
  position: relative;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.3571428571vw;
    width: 96.4285714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .header__container {
    padding: 0 3.75rem;
    width: 67.5rem;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11.5384615385vw;
}
@media screen and (min-width: 768px) {
  .header__inner {
    height: 6.25vw;
  }
}
@media screen and (min-width: 1120px) {
  .header__inner {
    height: 4.375rem;
  }
}
.header__name {
  display: block;
  width: 20.5128205128vw;
  height: 8.2051282051vw;
}
@media screen and (min-width: 768px) {
  .header__name {
    width: 8.9285714286vw;
    height: 3.5714285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .header__name {
    width: 6.25rem;
    height: 2.5rem;
  }
}
.header__logo {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.header__hamburger {
  width: 6.4102564103vw;
  height: 5.3846153846vw;
  background-image: url(/assets/image/hamburger.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}
.header__nav {
  display: none;
  margin-top: 2.0512820513vw;
  text-align: center;
  font-size: 4.1025641026vw;
  font-weight: bold;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
    margin-top: 0;
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .header__nav {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    justify-content: right;
  }
}
.header__nav-item {
  padding-bottom: 6.4102564103vw;
}
@media screen and (min-width: 768px) {
  .header__nav-item {
    padding-bottom: 0;
    margin-left: 5.3571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .header__nav-item {
    margin-left: 3.75rem;
  }
}
.header__nav-item:last-child {
  padding-bottom: 7.6923076923vw;
}
@media screen and (min-width: 768px) {
  .header__nav-item:last-child {
    padding-bottom: 0;
  }
}
.header__nav-link {
  display: block;
}

/*main-visual
---------------------------------------------------*/
.main-visual {
  padding-top: 16.6666666667vw;
  background-color: #68d8d6;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main-visual {
    padding-top: 9.8214285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .main-visual {
    padding-top: 6.875rem;
  }
}
.main-visual__img {
  width: 100%;
  height: 76.9230769231vw;
  background-image: url(/assets/image/main_visual.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .main-visual__img {
    height: 44.6428571429vw;
  }
}
@media screen and (min-width: 1120px) {
  .main-visual__img {
    height: 31.25rem;
  }
}

/*skill
---------------------------------------------------*/
.skill {
  padding: 15.3846153846vw 0 7.6923076923vw;
}
@media screen and (min-width: 768px) {
  .skill {
    padding: 13.3928571429vw 0 4.4642857143vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill {
    padding: 9.375rem 0 3.125rem;
  }
}
.skill__container {
  margin: 0 auto;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .skill__container {
    width: 75vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill__container {
    width: 52.5rem;
  }
}
.skill__title, .about__title, .news__title, .works__title {
  font-size: 10.2564102564vw;
  font-weight: 800;
  color: #555;
  text-align: center;
  position: relative;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .skill__title, .about__title, .news__title, .works__title {
    font-size: 5.3571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill__title, .about__title, .news__title, .works__title {
    font-size: 3.75rem;
  }
}
.skill__title::before, .about__title::before, .news__title::before, .works__title::before {
  content: "";
  width: 8.2051282051vw;
  height: 8.2051282051vw;
  background-color: #f1d84c;
  border-radius: 50%;
  position: absolute;
  top: 1.5384615385vw;
  left: 35%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .skill__title::before, .about__title::before, .news__title::before, .works__title::before {
    width: 3.5714285714vw;
    height: 3.5714285714vw;
    top: 1.0714285714vw;
    left: 41%;
  }
}
@media screen and (min-width: 1120px) {
  .skill__title::before, .about__title::before, .news__title::before, .works__title::before {
    width: 2.5rem;
    height: 2.5rem;
    top: 0.75rem;
  }
}
.skill__list {
  margin-top: 7.6923076923vw;
}
@media screen and (min-width: 768px) {
  .skill__list {
    margin-top: 5.3571428571vw;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1120px) {
  .skill__list {
    margin-top: 3.75rem;
  }
}
.skill__item {
  margin: 7.6923076923vw auto 0;
  padding: 10.2564102564vw 6.9230769231vw 12.8205128205vw;
  width: 65.1282051282vw;
  position: relative;
}
@media screen and (min-width: 768px) {
  .skill__item {
    margin: 0;
    padding: 4.1964285714vw 1.7857142857vw 5.0892857143vw;
    width: 22.6785714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill__item {
    padding: 2.9375rem 1.25rem 3.5625rem;
    width: 15.875rem;
  }
}
.skill__item::before {
  content: "";
  display: block;
  width: 61.5384615385vw;
  height: calc(100% - 3.8461538462vw);
  box-sizing: content-box;
  border: solid 1.0256410256vw #9ceaef;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .skill__item::before {
    width: 21.4285714286vw;
    height: calc(100% - 1.3392857143vw);
    border-width: 0.3571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill__item::before {
    width: 15rem;
    height: calc(100% - 0.9375rem);
    border-width: 0.25rem;
  }
}
.skill__item::after {
  content: "";
  display: block;
  width: 61.5384615385vw;
  height: calc(100% - 3.8461538462vw);
  background-color: #e8fbf9;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .skill__item::after {
    width: 21.4285714286vw;
    height: calc(100% - 1.3392857143vw);
  }
}
@media screen and (min-width: 1120px) {
  .skill__item::after {
    width: 15rem;
    height: calc(100% - 0.9375rem);
  }
}
.skill__name {
  text-align: center;
  font-size: 5.1282051282vw;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .skill__name {
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill__name {
    font-size: 1.25rem;
  }
}
.skill__text {
  margin-top: 5.1282051282vw;
  font-size: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .skill__text {
    margin-top: 2.8571428571vw;
    font-size: 1.4285714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .skill__text {
    margin-top: 1.25rem;
    font-size: 1rem;
  }
}

/*works
----------------------------------------*/
.works {
  padding: 5.1282051282vw 0 25.641025641vw;
}
@media screen and (min-width: 768px) {
  .works {
    padding: 8.9285714286vw 0 17.8571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .works {
    padding: 6.25rem 0 12.5rem;
  }
}
.works__container {
  margin: 0 auto;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .works__container {
    width: 85.7142857143vw;
  }
}
@media screen and (min-width: 1120px) {
  .works__container {
    width: 60rem;
  }
}
.works__title::before {
  left: 30%;
}
@media screen and (min-width: 768px) {
  .works__title::before {
    left: 39%;
  }
}
.works__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .works__link {
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .works__link {
    font-size: 1.25rem;
  }
}
.works__more, .contact-section__button, .news__more {
  margin: 7.6923076923vw auto 0;
  width: 25.641025641vw;
  height: 10.2564102564vw;
  display: flex;
  font-size: 5.1282051282vw;
  justify-content: center;
  align-items: center;
  background-color: #9ceaef;
  border-radius: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .works__more, .contact-section__button, .news__more {
    margin-top: 4.4642857143vw;
    width: 13.3928571429vw;
    height: 5.3571428571vw;
    font-size: 2.2321428571vw;
    border-radius: 2.6785714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .works__more, .contact-section__button, .news__more {
    margin-top: 3.125rem;
    width: 9.375rem;
    height: 3.75rem;
    font-size: 1.5625rem;
    border-radius: 1.875rem;
  }
}
.works__more:hover, .contact-section__button:hover, .news__more:hover {
  opacity: 0.5;
}

.swiper {
  width: 100%;
  height: 51.2820512821vw;
}
@media screen and (min-width: 768px) {
  .swiper {
    margin-top: 2.6785714286vw;
    height: 17.8571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .swiper {
    margin-top: 1.875rem;
    height: 12.5rem;
  }
}

.swiper-slide {
  background-color: #ddd;
}

.swiper-pagination {
  position: static;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    margin-top: 0.8928571429vw;
  }
}
@media screen and (min-width: 1120px) {
  .swiper-pagination {
    margin-top: 0.625rem;
  }
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #00afbf;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullet {
    width: 0.9rem;
    height: 0.9rem;
  }
}

/*news
------------------------------------------------*/
.news {
  padding: 12.8205128205vw 0 25.641025641vw;
}
@media screen and (min-width: 768px) {
  .news {
    padding: 4.4642857143vw 0 8.9285714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .news {
    padding: 3.125rem 0 6.25rem;
  }
}
.news__container {
  margin: 0 auto;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .news__container {
    width: 71.4285714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .news__container {
    width: 50rem;
  }
}
.news__title::before {
  left: 32%;
}
@media screen and (min-width: 768px) {
  .news__title::before {
    left: 38.5%;
  }
}
.news__list {
  margin-top: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .news__list {
    margin-top: 2.6785714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .news__list {
    margin-top: 1.875rem;
  }
}
.news__item {
  padding: 2.5641025641vw;
  border-bottom: solid 1px #ddd;
}
.news__item:first-of-type {
  border-top: solid 1px #ddd;
}
@media screen and (min-width: 768px) {
  .news__item {
    padding: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .news__item {
    padding: 1.25rem;
  }
}
.news__link {
  display: block;
}
.news__date {
  display: inline-block;
  font-size: 2.5641025641vw;
}
@media screen and (min-width: 768px) {
  .news__date {
    font-size: 1.0714285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .news__date {
    font-size: 0.75rem;
  }
}
.news__category {
  display: inline-block;
  margin-left: 2.5641025641vw;
  padding: 0 1.2820512821vw;
  font-size: 3.0769230769vw;
  background-color: #9ceaef;
  border-radius: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .news__category {
    margin-left: 1.3392857143vw;
    padding: 0 0.4464285714vw;
    font-size: 1.25vw;
    border-radius: 0.4464285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .news__category {
    margin-left: 0.9375rem;
    padding: 0 0.3125rem;
    font-size: 0.875rem;
    border-radius: 0.3125rem;
  }
}
.news__headline {
  margin-top: 1.0256410256vw;
  font-size: 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .news__headline {
    margin-top: 0.3571428571vw;
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .news__headline {
    margin-top: 0.25rem;
    font-size: 1.25rem;
  }
}
/*about
------------------------------------------------*/
.about {
  background-color: #68d8d6;
  padding: 28.7179487179vw 0 6.1538461538vw;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 16.0714285714vw 0 17.8571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .about {
    padding: 11.25rem 0 12.5rem;
  }
}
.about__container {
  margin: 0 auto;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .about__container {
    gap: 1.7857142857vw;
    width: 85.7142857143vw;
  }
}
@media screen and (min-width: 1120px) {
  .about__container {
    gap: 1.25rem;
    width: 60rem;
  }
}
.about__flex {
  margin-top: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .about__flex {
    display: flex;
    justify-content: space-between;
    gap: 1.7857142857vw;
    margin-top: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .about__flex {
    gap: 1.25rem;
    margin-top: 1.25rem;
  }
}
.about__title {
  z-index: 10;
}
.about__title::before {
  left: 21%;
}
@media screen and (min-width: 768px) {
  .about__title::before {
    left: 34%;
  }
}
.about__img {
  display: block;
  margin: 0 auto;
  width: 47.4358974359vw;
  height: 47.4358974359vw;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .about__img {
    margin: 0;
    width: 23.2142857143vw;
    height: 23.2142857143vw;
  }
}
@media screen and (min-width: 1120px) {
  .about__img {
    width: 16.25rem;
    height: 16.25rem;
  }
}
@media screen and (min-width: 768px) {
  .about__content {
    width: 100%;
  }
}
.about__name-box {
  margin-top: 3.3333333333vw;
  padding: 3.0769230769vw 5.8974358974vw;
  background-color: #fff;
  border-bottom: solid 1.0256410256vw #07beb8;
}
@media screen and (min-width: 768px) {
  .about__name-box {
    margin-top: 0;
    padding: 1.4285714286vw 2.8571428571vw;
    border-bottom-width: 0.3571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .about__name-box {
    padding: 1rem 2rem;
    border-bottom-width: 0.25rem;
  }
}
.about__name-kana {
  font-size: 4.1025641026vw;
  font-weight: bold;
  color: #07beb8;
}
@media screen and (min-width: 768px) {
  .about__name-kana {
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .about__name-kana {
    font-size: 1.25rem;
  }
}
.about__name {
  margin-top: 3.0769230769vw;
  font-size: 9.2307692308vw;
  font-weight: bold;
  color: #68d8d6;
}
@media screen and (min-width: 768px) {
  .about__name {
    margin-top: 0;
    font-size: 4.6428571429vw;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1120px) {
  .about__name {
    font-size: 3.25rem;
  }
}
.about__text-box {
  margin-top: 4.1025641026vw;
  font-size: 4.1025641026vw;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about__text-box {
    margin-top: 3.5714285714vw;
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .about__text-box {
    margin-top: 2.5rem;
    font-size: 1.25rem;
  }
}

/*contact
--------------------------------------------*/
.contact {
  position: relative;
  width: 100%;
  height: 128.2051282051vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact {
    height: 44.1071428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact {
    height: 30.875rem;
  }
}
.contact::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/assets/image/contact_sp.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .contact::before {
    background-image: url(/assets/image/contact_pc.jpg);
  }
}
.contact__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51.2820512821vw;
  height: 10.2564102564vw;
  font-size: 6.1538461538vw;
  font-weight: bold;
  border: solid 1px #555;
  border-radius: 5.1282051282vw;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .contact__link {
    width: 22.3214285714vw;
    height: 4.4642857143vw;
    font-size: 2.6785714286vw;
    border-radius: 2.2321428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact__link {
    width: 15.625rem;
    height: 3.125rem;
    font-size: 1.875rem;
    border-radius: 1.5625rem;
  }
}
.contact__link:hover {
  opacity: 0.8;
}

/*footer
--------------------------------------*/
.footer {
  padding: 5.1282051282vw;
  background-color: #68d8d6;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .footer {
    padding: 1.25rem;
  }
}
.footer__text {
  font-size: 3.0769230769vw;
  color: #fff;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__text {
    font-size: 1.0714285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .footer__text {
    font-size: 0.75rem;
  }
}

/*----------------------------------------------------
contactページ
----------------------------------------------------*/
/*contact-section
----------------------------------------------------*/
.contact-section {
  padding: 38.4615384615vw 0 25.641025641vw;
}
@media screen and (min-width: 768px) {
  .contact-section {
    padding: 17.8571428571vw 0 13.3928571429vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section {
    padding: 12.5rem 0 9.375rem;
  }
}
.contact-section__container {
  margin: 0 auto;
  width: 91.7948717949vw;
}
@media screen and (min-width: 768px) {
  .contact-section__container {
    width: 85.7142857143vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__container {
    width: 60rem;
  }
}
.contact-section__title {
  text-align: center;
  font-size: 10.2564102564vw;
  font-weight: 800;
}
@media screen and (min-width: 768px) {
  .contact-section__title {
    font-size: 5.3571428571vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__title {
    font-size: 3.75rem;
  }
}
.contact-section__box {
  margin-top: 5.1282051282vw;
  padding: 0 5.1282051282vw;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-section__box {
    margin-top: 2.6785714286vw;
    padding: 0 2.6785714286vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__box {
    margin-top: 1.875rem;
    padding: 0 1.875rem;
  }
}
.contact-section__form {
  display: flex;
  flex-direction: column;
  gap: 5.1282051282vw;
}
@media screen and (min-width: 768px) {
  .contact-section__form {
    gap: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__form {
    gap: 1.25rem;
  }
}
.contact-section__item {
  display: flex;
  flex-direction: column;
}
.contact-section__label {
  font-size: 3.5897435897vw;
  margin-bottom: 0.7692307692vw;
  padding-left: 0.7692307692vw;
}
@media screen and (min-width: 768px) {
  .contact-section__label {
    font-size: 1.7857142857vw;
    margin-bottom: 0.4464285714vw;
    padding-left: 0.4464285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__label {
    font-size: 1.25rem;
    margin-bottom: 0.3125rem;
    padding-left: 0.3125rem;
  }
}
.contact-section__text, .contact-section__email {
  padding: 1.2820512821vw 2.0512820513vw;
  font-size: 4.1025641026vw;
  border: solid 1px #ddd;
  border-radius: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .contact-section__text, .contact-section__email {
    padding: 0.4464285714vw 0.7142857143vw;
    font-size: 1.7857142857vw;
    border-radius: 0.4464285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__text, .contact-section__email {
    padding: 0.3125rem 0.5rem;
    font-size: 1.25rem;
    border-radius: 0.3125rem;
  }
}
.contact-section__text::-moz-placeholder, .contact-section__email::-moz-placeholder {
  font-size: 3.5897435897vw;
  color: #999;
}
.contact-section__text::placeholder, .contact-section__email::placeholder {
  font-size: 3.5897435897vw;
  color: #999;
}
@media screen and (min-width: 768px) {
  .contact-section__text::-moz-placeholder, .contact-section__email::-moz-placeholder {
    font-size: 1.7857142857vw;
  }
  .contact-section__text::placeholder, .contact-section__email::placeholder {
    font-size: 1.7857142857vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__text::-moz-placeholder, .contact-section__email::-moz-placeholder {
    font-size: 1.25rem;
  }
  .contact-section__text::placeholder, .contact-section__email::placeholder {
    font-size: 1.25rem;
  }
}
.contact-section__message {
  padding: 1.2820512821vw 2.0512820513vw;
  width: 100%;
  height: 38.4615384615vw;
  resize: vertical;
  font-size: 4.1025641026vw;
  border: solid 1px #ddd;
  border-radius: 1.2820512821vw;
}
@media screen and (min-width: 768px) {
  .contact-section__message {
    padding: 0.4464285714vw 0.7142857143vw;
    height: 22.3214285714vw;
    font-size: 1.7857142857vw;
    border-radius: 0.4464285714vw;
  }
}
@media screen and (min-width: 1120px) {
  .contact-section__message {
    padding: 0.3125rem 0.5rem;
    height: 15.625rem;
    font-size: 1.25rem;
    border-radius: 0.3125rem;
  }
}
/*# sourceMappingURL=main.css.map */